
 /* #26495c, #c4a35a, #c66b3d, #e5e5dc */
body {
    font-family: system;
    font-size: 1.5em;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26495c;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color:#e5e5dc;
    color: #26495c;

}

form{
    max-width: 50%;
    margin: 30px 0 0 25%;
    background-color: rgb(240, 240, 240);
    padding: 20px;
}
label{
    color: #26495c;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #26495c;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.page-title{
    color: #c66b3d;
    font-weight: bold;


}
.results{
    font-size: 20px;
    margin: 30px 50px 0 50px;
    color: #26495c;

}

.results .title{
    font-weight: bold;
}

.results .col{
    background-color:  rgb(240, 240, 240);
    border: solid 1px #c4a35a;

}

.navbar-custom { 
    background-color: #c4a35a; 
    color: whitesmoke;
}
.nav-custom-primary{
    color: whitesmoke;
    background-color: #26495c;
}
.myButton{
    background-color:#c66b3d;
    text-align: center;
    /* color:rgb(240, 240, 240); */
}
/* input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(2) {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

input:nth-of-type(3) {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

input:nth-of-type(4) {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

input:nth-of-type(5) {
    margin-left: 25px !important;
    margin-right: 25px !important;
} */